@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");

:root {
  --main-color: #2d3e50;
  --main-color-hover: #243546;
  --secondary-color: #e52830;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

section,
footer {
  padding: 65px 0;
}

img {
  max-width: 100%;
}

.card-bg {
  background-color: var(--main-color);
}

.heart-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  border-radius: 50%;
}

.heart-icon i {
  width: 40px;
  font-size: 20px;
  color: #eee;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon:hover i {
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.breadcrumb a {
  color: #aaa;
  text-decoration: none;
}

.breadcrumb .active a {
  color: var(--main-color);
}

h1 {
  font-size: 2.25rem;
  color: var(--secondary-color);
}

h2 {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 20px;
  margin-bottom: -2px;
  color: var(--secondary-color);
  display: inline-block;
  font-weight: 600;
}

hr {
  margin-top: 0;
  height: 2px;
  background-color: #ccc;
}

p {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
}

.bg-blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}

.btn-main {
  background-color: var(--main-color);
  border: none;
  color: #eee;
  padding: 8px 45px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
}

.fill:hover {
  color: #fff;
}

.fill:before {
  content: "";
  position: absolute;
  background: var(--main-color-hover);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

/* secondary nav */
#secondary-nav {
  background-color: var(--main-color);
  height: 40px;
  font-weight: normal;
}

#secondary-nav a {
  color: #eee;
}

#secondary-nav .contact-nav,
#secondary-nav .lang-nav {
  font-size: 14px;
}

#secondary-nav .contact-nav li:first-of-type,
#secondary-nav .lang-nav li:first-of-type {
  border-left: 1px solid #666;
}

#secondary-nav .social-nav {
  font-size: 18px;
}

#secondary-nav .social-nav .nav-link {
  padding: 0.5rem 0.6rem;
}

#secondary-nav a:hover {
  color: var(--secondary-color);
}

#secondary-nav .lang-nav a {
  color: #aaa;
}
#secondary-nav .lang-nav a:hover,
#secondary-nav .lang-nav a.active {
  color: var(--secondary-color);
}

.contact-nav {
  justify-content: flex-end;
}
#secondary-nav .contact-nav i.fas.fa-phone-volume {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 767px) {
  #secondary-nav {
    height: auto;
  }

  .lang-nav,
  .social-nav,
  .contact-nav {
    min-width: 100%;
    justify-content: center;
  }

  #secondary-nav .contact-nav li:first-of-type,
  #secondary-nav .lang-nav li:first-of-type {
    border-left: none;
  }

  #secondary-nav .social-nav .nav-link {
    padding: 0rem 0.6rem;
  }
}
/* end secondary nav */

/* main nav */
#main-nav {
  padding: 0;
  box-shadow: 0px 5px 25px -5px rgb(0 0 0 / 25%);
  position: sticky;
  top: 0;
  z-index: 999;
}

#main-nav .navbar-brand {
  max-width: 150px;
}

#main-nav .nav-item {
  border-bottom: 3px solid transparent;
  padding: 30px 0;
}

#main-nav .nav-item:hover {
  border-bottom: 3px solid var(--secondary-color);
}

#main-nav .nav-item:hover .nav-link {
  color: var(--secondary-color);
}

#main-nav .nav-item a.active {
  color: var(--secondary-color);
}

#main-nav .nav-item .nav-link {
  border-left: 1px solid #eee;
  padding: 10px 15px;
}

#main-nav li.nav-item:last-of-type .nav-link {
  border-left: none;
}

#main-nav.navbar-light .navbar-toggler {
  color: var(--main-color);
  border: none;
}

#main-nav .navbar-toggler:focus {
  box-shadow: none;
}

#main-nav .btn-main {
  padding: 12px 30px 12px 50px;
  border-radius: 5px;
}

@media only screen and (max-width: 991px) {
  #main-nav .nav-item {
    padding: 0;
    width: auto;
    margin: 0 auto;
  }

  #main-nav .nav-item .nav-link {
    border-left: none;
    text-align: center;
  }
}
/* end main nav */

/* header section */
header {
  background-image: url(../imgs/BG.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

header .header-carousel {
  position: relative;
  min-height: 600px;
}

header .header-carousel .item {
  margin-top: 175px;
  max-width: 600px;
  padding: 30px;
  margin-bottom: 50px;
  margin-right: 50px;
  border-radius: 15px;
  box-shadow: -5px 5px 15px -5px #aaa;
}

header .header-carousel .item {
  position: relative;
}

header .header-carousel .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 0;
}

header .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  transition: border 0.1s ease-in;
}

header .owl-theme .owl-dots .owl-dot:hover span,
header .owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
  border: 1px solid var(--secondary-color);
}

@media only screen and (max-width: 974px) {
  header .header-carousel .item {
    margin-top: 150px;
    margin-right: 10px;
  }

  header .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 974px) {
  header .header-carousel .item {
    margin-top: 130px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 576px) {
  header .header-carousel .item {
    margin-top: 100px;
    margin-left: 15px;
  }
  header .container {
    max-width: 95%;
  }
}
/* end header section */

/* about section */
#about {
  padding: 0;
  background-color: #e2f5fb;
}

#about .container {
  background-image: url(../imgs/about2.png);
  background-color: #fbfbfb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 65px 0;
  border-radius: 8px;
}

#about p {
  line-height: 2.2rem;
  font-size: 1.25rem;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  #about {
    padding: 40px 10px;
  }
}
/* end about section */

/* articles section */
#articles {
  /* min-height: 600px; */
  background-color: #fbfbfb;
}

#articles .articles-carousel .item {
  position: relative;
  padding: 4px;
  border: 1px solid #ccc;
}

#articles .articles-carousel .item .heart-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  border-radius: 50%;
}

#articles .articles-carousel .item .heart-icon i {
  width: 40px;
  font-size: 20px;
  color: #eee;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#articles .articles-carousel .item .heart-icon:hover i {
  background-color: var(--secondary-color);
  border-radius: 50%;
}

#articles .articles-carousel .item h3 {
  font-size: 1.45rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin: 20px 5px 15px;
}

#articles .articles-carousel .item p {
  font-size: 1.15rem;
  margin: 5px 5px;
  line-height: 2rem;
}

#articles .articles-carousel .item .btn {
  margin: 15px auto 10px;
  width: 150px;
  display: block;
}

#articles .articles-carousel .owl-nav {
  display: block;
  position: absolute;
  top: -120px;
  left: 0;
}

#articles .articles-carousel .owl-dots {
  display: none;
}

#articles .articles-carousel .owl-nav button {
  font-size: 75px;
  color: #ababab;
}

#articles .articles-carousel .owl-nav button:hover {
  background: none;
  color: var(--secondary-color);
}

/* end articles section */

/* donations section */
#donations {
  min-height: 600px;
  background-color: #f5f5f5;
}

#donations .form-custom {
  border-radius: 50px;
  border: none;
  padding: 12px;
  margin-top: 2px;
  color: #c4c4c4;
}

#donations .border-custom {
  position: relative;
}

#donations .border-custom::before {
  position: absolute;
  border-left: 3px solid #f5f5f5;
  content: "";
  height: 95%;
  top: 2px;
  left: 60px;
}

#donations form .btn {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
}

#donations .card {
  padding: 10px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
}

#donations .card-blood-type {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#donations .card-body {
  display: flex;
  align-items: center;
  font-size: 20px;
}

#donations .card-body td {
  margin-right: 18px;
  display: inline-block;
}

#donations .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#donations .card .btn-main {
  background-color: #f6f6f6;
  border: none;
  color: var(--main-color);
}

#donations .card .fill:hover {
  color: #fff;
}

#donations .card .fill:before {
  content: "";
  position: absolute;
  background: var(--main-color);
}

@media screen and (max-width: 991px) {
  #donations .card {
    border-radius: 10px;
    padding: 25px;
  }

  #donations .card-body {
    justify-content: center;
  }
  #donations .card .row > div {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #donations .form-custom {
    margin-bottom: 20px;
  }

  #donations form .btn-custom {
    text-align: center;
  }
}
/* end donations section */

/* contact-us section */
#contact-us {
  background: url(../imgs/call.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#contact-us .btn-custom {
  position: relative;
  max-width: 340px;
}

#contact-us .btn-main {
  background-color: #3ab54a;
  border-radius: 50px;
  font-size: 25px;
  direction: ltr;
  padding: 20px 40px 20px 80px;
}

#contact-us .fill:before {
  content: "";
  position: absolute;
  background: #189a0e;
}

#contact-us img {
  position: absolute;
  z-index: 5;
  left: 0;
  top: -5px;
  width: 85px;
}

#contact-us .row {
  position: relative;
}

#contact-us .bg-blur {
  z-index: 2;
  box-shadow: 0 0 20px -5px #aaa;
}

#contact-us .col-lg-6 {
  z-index: 5;
}

@media screen and (max-width: 577px) {
  #contact-us {
    padding: 60px 30px;
  }
}
@media screen and (max-width: 483px) {
  #contact-us .btn-main {
    font-size: 24px;
    padding: 15px 25px 15px 70px;
  }

  #contact-us img {
    left: -10px;
    top: -5px;
    width: 75px;
  }
}
/* end contact-us section */

/* app section */
#app {
  background-image: url(../imgs/BG-phone.png);
}
/* end app section */

/* footer section */
footer {
  background-color: #1a1f25;
  color: #eee;
}

footer h3 {
  font-size: 22px;
  color: #fff;
}

footer p {
  font-size: 1rem;
  line-height: 2rem;
}

footer .nav li a {
  color: #eee;
  display: inline-block;
}

footer .nav li a:hover {
  color: var(--secondary-color);
}

footer .li-custom {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
}
/* end footer section */

/* footer nav */
#footer-nav {
  background-color: #14171c;
}

#footer-nav .nav-link {
  font-size: 18px;
  padding: 0.5rem 0.6rem;
  color: #eee;
}

#footer-nav .nav-link:hover {
  color: var(--secondary-color);
}

#footer-nav .copy {
  color: #eee;
  font-size: 16px;
}

#footer-nav .copy span {
  color: var(--secondary-color);
}
/* end footer nav */

/* register page */
#register,
#login {
  background-color: #fbfbfb;
}

#register .card-body,
#login .card-body {
  padding: 2rem 4rem;
}

#register .card-body input,
#register .card-body select,
#contact-us-page .card-body input,
#contact-us-page .card-body textarea,
#login .card-body input:not([type="checkbox"]) {
  padding: 15px;
  background-color: #fbfbfb;
  border: 2px solid #f7f2f2;
  font-weight: bold;
  direction: rtl;
  font-size: 18px;
}

#register .btn-main {
  background-color: #3ab54a;
  font-size: 22px;
  color: #fff;
}

#register .fill:before {
  content: "";
  position: absolute;
  background: #189a0e;
}

/* end register page */

/* login page */
#login .btn-green .btn-main {
  background-color: #3ab54a;
}

#login .btn-green .fill:before {
  content: "";
  position: absolute;
  background: #189a0e;
}
/* end login page */

/* article-single page */
#article-single {
  background-color: #fbfbfb;
}

#article-single .card p {
  font-size: 1.2rem;
}

#article-single .heart-icon {
  border: 1px solid #fff;
  width: auto;
  height: auto;
  top: 9px;
  left: 9px;
}
/* end article-single page */

/* contact-us-page */
#contact-us-page .padding-custom {
  padding-bottom: 2.2rem !important;
}
/* end contact-us-page */

/* donation-details page */
#donation-details {
  background-color: #fbfbfb;
}

#donation-details span {
  width: 49%;
  display: inline-block;
  padding: 12px 15px;
  margin-bottom: 15px;
}

#donation-details span:first-child {
  background: #f4f4f4;
}

#donation-details span:last-child {
  background: #fbfbfb;
}

#donation-details .card p {
  font-size: 1.1rem;
}
/* end donation-details page */
